<a href="https://colab.research.google.com/github/tofael202/Leetcode-Contest-and-Practice-Solution/blob/main/Intersection_of_Two_Arrays_II.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Given two integer arrays nums1 and nums2, return an array of their intersection. Each element in the result must appear as many times as it shows in both arrays and you may return the result in any order.

 

Example 1:

Input: nums1 = [1,2,2,1], nums2 = [2,2]
Output: [2,2]
Example 2:

Input: nums1 = [4,9,5], nums2 = [9,4,9,8,4]
Output: [4,9]
Explanation: [9,4] is also accepted.

https://leetcode.com/explore/challenge/card/september-leetcoding-challenge-2021/638/week-3-september-15th-september-21st/3978/

In [9]:
nums1 = [] 
 
# For list of strings/chars
nums2 = [] 
 
nums1 = [int(item) for item in input("Enter the list items : ").split()]
 
nums2 = [int(item) for item in input("Enter the list items : ").split()]
 
print(nums1)
print(nums2)

Enter the list items : 2 4 2 1
Enter the list items : 2 2
[2, 4, 2, 1]
[2, 2]

In [25]:
nums1 = [1,2] 
 
# For list of strings/chars
nums2 = [2,2,5] 
nums1_len=len(nums1)
nums2_len=len(nums2)
#print(nums1_len)
#print(nums2_len)
res=[]
if(nums1_len>nums2_len):
  for i in range(len(nums2)):
    #print(nums2[i])
    for j in nums1:
      #print(nums1[j])
      if(nums2[i]==j):
        res.append(j)
        nums1.remove(j)
        break
else:  
  for i in range(len(nums1)):
    #print(nums2[i])
    for j in nums2:
      #print(nums1[j])
      if(nums1[i]==j):
        res.append(j)
        nums2.remove(j)
        break      

      
                        
            
print(res)

[2]